<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Estilos para o balão de texto */
        .floating-balloon {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            max-width: 200px;
            display: none; /* Inicialmente oculto */
        }

        /* Estilos para o ícone de fechar */
        .close-icon {
            cursor: pointer;
            float: right;
            font-size: 18px;
        }
    </style>